@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#logo{
    color: rgb(165, 21, 1);
    font-family: 'Dancing Script', cursive;
    font-size: 54px;
    font-weight: bold;
    width: 100%;
}

#logo:hover{
    color: rgb(255, 255, 255);
}

.search{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 20%;
    margin-top: 1%;
}

button{
    border: none;
    padding: 10px;
    background-color: rgb(250, 133, 0);
    color: rgb(255, 255, 255);
    width: 10%;
    font-weight: bold;
}
button:hover{
   color: rgb(255, 255, 255);
   background-color: rgb(255, 104, 17);
}

.cocktails{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

